.view-display-id-replies .accordion-inner {
  overflow: hidden;
  padding-bottom: 0;
}

.well.current-node {
  border-left: 6px solid #CCC;
}

.pane-oa-discussion-reply .tabledrag-toggle-weight-wrapper {
  display: none;
}

.media-widget .media-item {
  width: auto;
}

.media-widget .media-item img {
  height: auto;
  width: auto;
}
