.view-display-id-replies .accordion-inner {
  overflow: hidden;
  padding-bottom: 0;
}

.well.current-node {
  border-left: 6px solid #CCC;
}

.pane-oa-discussion-reply .tabledrag-toggle-weight-wrapper {
  display: none;
}
