//
// Color
// --------------------------------------------------

// --------------------------------------------------
// Navbar
// -------------------------
$navbarBackground:                #2E712A;
$navbarBackgroundHighlight:       #3E9D38;
$navbarText:                      white;
$navbarLinkColor:                 yellow;
$navbarLinkColorHover:            yellow;
$navbarLinkColorActive:           yellow;
$navbarBrandColor:                white;
