//
// Layout
// Styles for main layout
// --------------------------------------------------
.navbar-inner,
.footer-inner {
  padding-left:  20px;
  padding-right: 20px;
  border: 1px solid $navbarBorder;
  color: black;
  @include gradient-vertical($navbarBackgroundHighlight, $navbarBackground);
  @include border-radius(4px);
  @include box-shadow(0 1px 4px rgba(0,0,0,.065));
  display: block;
}

#logo img {
  vertical-align: middle;
}
#site-name {
  display: inline-block;
  padding: 10px 0.5em;
  margin: 0;
}
#oa_toolbar {
  padding-top: 5px;
  padding-bottom: 5px;
}

#main-wrapper {
  min-height: 360px;
}
.oa-list.well {
  background-color: #FAFAFA;
  padding: 0;
  margin-bottom: 5px;
}
.oa-list-header {
  padding: 3px 5px 0 5px;
}
.oa-list .accordion {
  margin-bottom: 0;
}
.oa-list .accordion-heading .accordion-toggle {
  padding: 3px 5px;
  &:hover {
    background-color: #E0EEFF;
  }
}
.oa-list .label {
  color: white;
  a {
    color: white;
  }
}
.oa-list-category {
  text-align: right;
}
.oa-list .links {
  float: right;
  margin-right: 5px;
  a {
    padding: 0 5px;
    color: #777;
    font-size: 0.9em;
  }
}
