//
// Layout
// Styles for main layout
// --------------------------------------------------
.navbar .brand {

}
#logo img {
  vertical-align: middle;
}
#site-name {
  display: inline-block;
  padding: 10px 0.5em;
  margin: 0;
}
#search-form {
  padding-top: 10px;
}
#oa_toolbar {
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 20px;
}
