//
// Styles for navbar
// --------------------------------------------------
.navbar {
  // Brand: website or project name
  // -------------------------
  .brand {
    margin-left: 0;
    padding-left: 5px;
    color: $navbarBrandColor;
    text-shadow: 0 1px 0 $navbarBackgroundHighlight;
  }
  .search-form {
    padding-top: 10px;
    margin: 0 20px;
    input {
      width: 170px;
    }
  }
  #oa-user-badge {
    position: relative;
    padding-top: 5px;
    .user-badge {
      min-width: 110px;
      padding: 5px;
      margin: 0;
      .user-name {
        margin-right: 5px;
      }
      img {
        margin: 0;
      }
    }
    .dropdown-menu {
      float: left;
      width: 100%;
      min-width: 110px;
      ul {
        margin: 0;
        li {
          margin: 0;
          a {
          }
        }
      }
    }
  }
}

.oa-dropdown {
  display: inline-block;
	margin: 0 0.25em 0 0.25em;
	vertical-align: middle;
	ul {
	  margin: 0.5em 0;
	  li {
	    margin: 0;
	  }
	}
}

.sutro-double-container {
  margin-bottom: 0;
}
