//
// Styles for navbar
// --------------------------------------------------
.navbar {
  .navbar-inner {
    padding: 5px 10px;
    @include border-radius(0);
  }
  // Brand: website or project name
  // -------------------------
  .brand {
    margin-left: 0;
    padding-left: 5px;
    font-weight: bold;
    color: $gray;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .1);
    @include transition(all .2s linear);
  }
  .icon-home {
    color: $white;
  }
  .search-form {
    padding-top: 10px;
    margin: 0 20px;
    input {
      width: 170px;
    }
  }
}

// Move the Panels IPE buttons from bottom to the top
#navbar div#panels-ipe-control-container {
  background-color: transparent;
  position: fixed;
  top: 52px;
  right: 0;
  bottom: auto;
  width: auto;
  z-index: 999;
  @include box-shadow(none);
  a {
    font-weight: normal;
  }
}

body.panels-ipe {
  margin-bottom: 0px !important
}

div.tabs {
  @extend .navbar;
  @extend .navbar-inner;
  ul.tabs {
    @extend .nav;
    border-bottom: 0;
  }
  li.active a {
    @include border-radius(0);
    border-bottom: 0;
  }
}

.oa-dropdown {
  display: inline-block;
	margin: 0 0.25em 0 0.25em;
	vertical-align: middle;
	ul {
	  margin: 0.5em 0;
	  li {
	    margin: 0;
	  }
	}
}

.sutro-double-container {
  margin-bottom: 0;
}

.footer .menu li {
  list-style-type: none;
  list-style-image: none;
  float: left;
  a {
    color: $grayDark;
  }
}
