// Node
// Styles for Nodes
// --------------------------------------------------

.oa-body {
  padding: 0 10px;
  clear: both;
}
.oa-media {
  padding: 5px 10px;
}
.oa-description {
  font-size: 12px;
  color: #555;
  line-height: 16px;
}

.well.current-node {
  border-left: 6px solid #B0EBA3;
  margin-left: -6px;
}

.oa-list, .field-content, .mceContentBody {
  ul {
    list-style-type: disc;
    margin: 0 0 10px 25px;
  }
  ol {
    list-style-type: decimal;
    margin: 0 0 10px 25px;
  }
}

// Spaces

.pane-oa-core-members-widget h5 {
  margin-top: 0;
}
