// Page
// Styles for panels
// --------------------------------------------------
#node-edit .panel-pane.pane-node-field-oa-organization-ref,
#node-edit .panel-pane.pane-node-field-oa-team-ref,
#node-edit .panel-pane.pane-node-field-oa-user-ref {
  padding: 1px 10px;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#node-edit .panel-pane.pane-node-field-oa-organization-ref {
  padding-top: 10px;
  margin-bottom: 0;
  border-bottom: 0;
}

#node-edit .panel-pane.pane-node-field-oa-team-ref {
  margin-bottom: 0;
  margin-top: 0;
  border-bottom: 0;
  border-top: 0;
}

#node-edit .panel-pane.pane-node-field-oa-user-ref {
  border-top: 0;
  margin-top: 0;
}


// Discussion attachments panel
.attachments {
  .user-badge {
    .user-picture img {
      margin: 0 8px 0 0;
    }
    .created {
      font-size: $fontSizeMini;
      line-height: 13px;
      color: $gray;
    }
  }
  .oa-body {
    padding: 10px;
    ul {
      margin: 0;
      li {
        margin: 0 0 5px;
      }
    }
  }
}

// Content visibility
.pane-oa-widgets-content-visibility {
  .visibility {
    text-transform: uppercase;
  }
}