// Page
// Styles for panels
// --------------------------------------------------
#node-edit .panel-pane.pane-node-field-oa-organization-ref,
#node-edit .panel-pane.pane-node-field-oa-team-ref,
#node-edit .panel-pane.pane-node-field-oa-user-ref {
  padding: 1px 10px;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#node-edit .panel-pane.pane-node-field-oa-organization-ref {
  padding-top: 10px;
  margin-bottom: 0;
  border-bottom: 0;
}

#node-edit .panel-pane.pane-node-field-oa-team-ref {
  margin-bottom: 0;
  margin-top: 0;
  border-bottom: 0;
  border-top: 0;
}

#node-edit .panel-pane.pane-node-field-oa-user-ref {
  border-top: 0;
  margin-top: 0;
}


// Discussion attachments panel
.attachments {
  .user-badge {
    .user-picture img {
      margin: 0 8px 0 0;
    }
    .created {
      font-size: $fontSizeMini;
      line-height: 13px;
      color: $gray;
    }
  }
  .oa-body {
    padding: 10px;
    ul {
      margin: 0;
      li {
        margin: 0 0 5px;
      }
    }
  }
}

// Content visibility
.pane-oa-widgets-content-visibility {
  .visibility {
    text-transform: uppercase;
  }
}

// User profile
.pane-oa-widgets-user-profile {
  .user-picture {
    width: 20%;
    margin-right: 5%;
  }
  .user-info {
    .user-realname a {
      
    }
    text-align: center;
    width: 75%;
    .user-name,
    .user-role {
      font-size: $fontSizeSmall;
    }
  }
  .links {
    text-align: right;
    a {
      font-size: $fontSizeMini;
      border-right: 1px solid #555;
      padding-right: 5px;
    }
    a:last-child {
      border: none;
      margin: 0;
      padding: 0;
    }
  }
}


// Group summary
.pane-oa-groups-summary {
  .group-links {
    .favorite {
      float: left;
    }
    .edit {
      float: right;
    }
  }
}

// Group members
.pane-oa-groups-members-widget {
  .team,
  .user-badge {
    width: 100%;
    min-width: 0;
    max-width: 152px;
    margin: 0 10px 10px 0;
  }
}
