//
// User
// Styles for User pages
// --------------------------------------------------
.user-badge {
  border: 1px solid #CCC;
  background-color: #EEE;
  padding: 3px 3px 3px 8px;
  min-width: 160px;
  @include border-radius(4px);
  img {
    vertical-align: middle;
  }
}
.user-badge.pull-right, .user-badge.badge-right {
  text-align: right;
  margin-left: 10px;
  img {
    margin-left: 8px;
  }
}
.user-badge.pull-left {
  text-align: left;
  margin-right: 10px;
  padding-left: 3px;
  img {
    margin-right: 8px;
  }
}

.oa-river .user-badge {
  border-top: 0;
  border-right: 0;
}


// User spaces page
.pane-oa-user-spaces-full {
  .views-row {
    border: 1px solid #DDD;
    border-bottom: none;
  }
  .views-row-odd {
    background: $tableBackgroundAccent;
  }
  .views-row-first {
    @include border-top-radius(5px);
  }
  .views-row-last {
    border-bottom: 1px solid #DDD;
    @include border-bottom-radius(5px);
  }

  .space-container {
    padding: 5px;
  }
  .space-details {
    .picture {
      margin-right: 20px;
      height: 120px;
      width: 120px;
      img {
        width: 100%;
      }
    }
  }

  .accordion {
    padding: 10px;
    margin: 0;
  }
}
