#oa_toolbar {
  list-style: none;
	font-weight: normal;
	font-size: 18px;
	padding-top: 22px;
	position: relative;
	min-height: 40px;
}

#oa_toolbar a {
	color: white;
	padding: 0 0.5em;
}

#oa_toolbar a:hover {
	color: yellow;
}

#oa_toolbar li a {
	color: black;
	padding: 0 0.5em;
	margin: 0;
}
#oa_toolbar li a:hover {
	color: yellow;
}
#oa_toolbar ul {
	padding: 0.25em 0.5em;
	margin: 0;
}
#oa_toolbar li ul li a {
	color: black;
	padding: 0;
}

#oa_toolbar .icon-home {
	font-size: 24px;
	vertical-align: baseline;
	padding: 0;
	margin: 0;
}

#oa_toolbar .caret {
	border-top-color: white;
}
#oa_toolbar .dropdown-toggle {
	padding: 0.5em 1em;
	margin: 0 0.25em;
}
