#oa_toolbar {
  list-style: none;
	font-weight: normal;
	font-size: 18px;
	position: relative;
}

#oa_toolbar .btn {
	padding: 0.5em 1em;
	margin: 0 0;
}
#oa_toolbar .dropdown {
	display: inline-block;
	margin: 0 0.25em 0 0.25em;
}
#oa_toolbar .btn-group {
	margin: 0;
}

#oa_toolbar .oa-toolbar-separator {
	display: inline-block;
	padding: 0 0.25em;
}

#oa_toolbar ul {
	padding: 0.25em 0.5em;
	margin: 0;
	min-width: 250px;
}
#oa_toolbar a {
	font-size: 18px;
	color: white;
}

#oa_toolbar a:hover {
	color: yellow;
}

#oa_toolbar ul li a {
	color: black;
	padding: 0 0.5em;
	margin: 0;
}
#oa_toolbar ul li a:hover {
	color: yellow;
}

#oa_toolbar ul li ul {
	margin: 0;
}
#oa_toolbar ul li ul li {
	padding: 0.25em 0;
}
#oa_toolbar ul li ul li a {
	color: black;
	padding: 0;
	margin: 0;
}


#oa_toolbar .icon-home {
	font-size: 24px;
	vertical-align: baseline;
	padding: 0;
	margin: 0;
}

#oa_toolbar .caret {
	border-top-color: white;
}
